.el-table__body,.el-table__footer,.el-table__header {
    table-layout: fixed;
    border-collapse: separate
}

.el-table__footer-wrapper,.el-table__header-wrapper {
    overflow: hidden
}

.el-table__footer-wrapper tbody td,.el-table__header-wrapper tbody td {
    background-color: #f5f7fa;
    color: #606266
}

.el-table__body-wrapper {
    overflow: hidden;
    position: relative
}

.el-table__body-wrapper.is-scrolling-left~.el-table__fixed,.el-table__body-wrapper.is-scrolling-none~.el-table__fixed,.el-table__body-wrapper.is-scrolling-none~.el-table__fixed-right,.el-table__body-wrapper.is-scrolling-right~.el-table__fixed-right {
    box-shadow: none
}

.el-picker-panel,.el-table-filter {
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1)
}

.el-table__body-wrapper .el-table--border.is-scrolling-right~.el-table__fixed-right {
    border-left: 1px solid #ebeef5
}

.el-table .caret-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative
}

.el-table .sort-caret {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 7px
}

.el-table .sort-caret.ascending {
    border-bottom-color: #c0c4cc;
    top: 5px
}

.el-table .sort-caret.descending {
    border-top-color: #c0c4cc;
    bottom: 7px
}

.el-table .ascending .sort-caret.ascending {
    border-bottom-color: #409eff
}

.el-table .descending .sort-caret.descending {
    border-top-color: #409eff
}

.el-table .hidden-columns {
    position: absolute;
    z-index: -1
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #fafafa
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,.el-table__body tr.current-row>td,.el-table__body tr.hover-row.current-row>td,.el-table__body tr.hover-row.el-table__row--striped.current-row>td,.el-table__body tr.hover-row.el-table__row--striped>td,.el-table__body tr.hover-row>td {
    background-color: #ecf5ff
}

.el-table__column-resize-proxy {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 0;
    border-left: 1px solid #ebeef5;
    z-index: 10
}

.el-table__column-filter-trigger {
    display: inline-block;
    line-height: 34px;
    cursor: pointer
}

.el-table__column-filter-trigger i {
    color: #909399;
    font-size: 12px;
    transform: scale(.75)
}

.el-table--enable-row-transition .el-table__body td {
    transition: background-color .25s ease
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #f5f7fa
}

.el-table--fluid-height .el-table__fixed,.el-table--fluid-height .el-table__fixed-right {
    bottom: 0;
    overflow: hidden
}

.el-table-column--selection .cell {
    padding-left: 14px;
    padding-right: 14px
}

.el-table-filter {
    border: 1px solid #ebeef5;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    margin: 2px 0
}

.el-table-filter__list {
    padding: 5px 0;
    margin: 0;
    list-style: none;
    min-width: 100px
}

.el-table-filter__list-item {
    line-height: 36px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px
}

.el-table-filter__list-item:hover {
    background-color: #ecf5ff;
    color: #66b1ff
}

.el-table-filter__list-item.is-active {
    background-color: #409eff;
    color: #fff
}

.el-table-filter__content {
    min-width: 100px
}

.el-table-filter__bottom {
    border-top: 1px solid #ebeef5;
    padding: 8px
}

.el-table-filter__bottom button {
    background: 0 0;
    border: none;
    color: #606266;
    cursor: pointer;
    font-size: 13px;
    padding: 0 3px
}

.el-date-table.is-week-mode .el-date-table__row.current div,.el-date-table.is-week-mode .el-date-table__row:hover div,.el-date-table td.in-range div,.el-date-table td.in-range div:hover {
    background-color: #f2f6fc
}

.el-table-filter__bottom button:hover {
    color: #409eff
}

.el-table-filter__bottom button:focus {
    outline: 0
}

.el-table-filter__bottom button.is-disabled {
    color: #c0c4cc;
    cursor: not-allowed
}

.el-table-filter__wrap {
    max-height: 280px
}

.el-table-filter__checkbox-group {
    padding: 10px
}

.el-table-filter__checkbox-group label.el-checkbox {
    display: block;
    margin-right: 5px;
    margin-bottom: 8px;
    margin-left: 5px
}

.el-table-filter__checkbox-group .el-checkbox:last-child {
    margin-bottom: 0
}

.el-date-table {
    font-size: 12px;
    -webkit-user-select: none;
    user-select: none
}

.el-slider__button-wrapper,.el-time-panel {
    -moz-user-select: none;
    -ms-user-select: none
}

.el-date-table.is-week-mode .el-date-table__row:hover td.available:hover {
    color: #606266
}

.el-date-table.is-week-mode .el-date-table__row:hover td:first-child div {
    margin-left: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}

.el-date-table.is-week-mode .el-date-table__row:hover td:last-child div {
    margin-right: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}

.el-date-table td {
    width: 32px;
    height: 30px;
    padding: 4px 0;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    position: relative
}

.el-date-table td div {
    height: 30px;
    padding: 3px 0;
    box-sizing: border-box
}

.el-date-table td span {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    line-height: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%
}

.el-month-table td .cell,.el-year-table td .cell {
    width: 48px;
    height: 32px;
    display: block;
    line-height: 32px
}

.el-date-table td.next-month,.el-date-table td.prev-month {
    color: #c0c4cc
}

.el-date-table td.today {
    position: relative
}

.el-date-table td.today span {
    color: #409eff;
    font-weight: 700
}

.el-date-table td.today.end-date span,.el-date-table td.today.start-date span {
    color: #fff
}

.el-date-table td.available:hover {
    color: #409eff
}

.el-date-table td.current:not(.disabled) span {
    color: #fff;
    background-color: #409eff
}

.el-date-table td.end-date div,.el-date-table td.start-date div {
    color: #fff
}

.el-date-table td.end-date span,.el-date-table td.start-date span {
    background-color: #409eff
}

.el-date-table td.start-date div {
    margin-left: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}

.el-date-table td.end-date div {
    margin-right: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}

.el-date-table td.disabled div {
    background-color: #f5f7fa;
    opacity: 1;
    cursor: not-allowed;
    color: #c0c4cc
}

.el-date-table td.selected div {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f2f6fc;
    border-radius: 15px
}

.el-date-table td.selected div:hover {
    background-color: #f2f6fc
}

.el-date-table td.selected span {
    background-color: #409eff;
    color: #fff;
    border-radius: 15px
}

.el-date-table td.week {
    font-size: 80%;
    color: #606266
}

.el-month-table,.el-year-table {
    font-size: 12px;
    border-collapse: collapse
}

.el-date-table th {
    padding: 5px;
    color: #606266;
    font-weight: 400;
    border-bottom: 1px solid #ebeef5
}

.el-month-table {
    margin: -1px
}

.el-month-table td {
    text-align: center;
    padding: 20px 3px;
    cursor: pointer
}

.el-month-table td.disabled .cell {
    background-color: #f5f7fa;
    cursor: not-allowed;
    color: #c0c4cc
}

.el-month-table td.disabled .cell:hover {
    color: #c0c4cc
}
